<h2>Restaurant Search Engine...</h2>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
            <a class="navbar-brand" href="#">
            <img src="http://www.userlogos.org/files/logos/give/joeys.png" alt=""></a>
            <a class="navbar-brand" href="/">Foodie Joey!</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name='search1' id = "search1" 
                [(ngModel)] = "value" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id = "search2"
                 type="submit" routerLink="/food">Search</button>
            </form>
    </div>
    
</nav>

<router-outlet></router-outlet>